Type your feedback. Please explain exactly what went wrong or what you need help with, otherwise we will not know what to do.
<form action="feedback" method="post" enctype="multipart/form-data">
  <input type="text" name="feedback" />
  <input type="submit" name="Done" value="Done" />
</form>