<p>Type your friend's unique Kingdoms username.</p>
<p>Note that this is <i>not</i> a Mxit username, but the name your friend chose when he added the game.</p>
<p>Your unique Kingdoms username is displayed below the menu.</p>

<form action="new-game-versus-friend" method="post" enctype="multipart/form-data">
  <input type="text" name="username" />
  <input type="submit" name="Done" value="Done" />
</form> 