<p>Welcome to Kingdoms, warrior! Choose a unique username (vulgar usernames will be fined and banend).</p>

<form action="new-user" method="post" enctype="multipart/form-data">
  <input type="text" name="username" />
  <input type="submit" name="Done" value="Done" />
</form>